@import "./theme.scss";

.main-layout-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow-y: none;
  box-sizing: border-box;
  background-color: $primary-light-bg-color;
  color: black;
  scrollbar-gutter: stable both-edges;

  .outlet-component-container {
    width: 90%;
    height: inherit;
  }
}
